.footer-top,
.footer-bottom {
	background: #1d2437;
	border-top: 1px solid $base-color4;	
	/*border-top: 1px solid #fff;*/	
}

.footer-top {
	min-height: 78px;
}

.footer-bottom {
	min-height: 46px;
}

@media (max-width: 1365px) {
	.footer-bottom {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}