.header-top {
    min-height: 38px;
    border-bottom: 1px solid $base-color4;
/*    border-bottom: 1px solid #fff;*/
    display: flex;
    justify-content: space-between;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

.header__social {
    margin-left: 15px;
    margin-bottom: 0;
}

.header__info-block {
    margin-left: 20px;
    margin-right: 20px;
}

.header_navbar-brand {
    margin-top: 7px;
}

.header .header_user-link .nav-link {
	padding-left: 56px !important;
	position: relative;
}

.header_user-link img {
	position: absolute;
	left: 8px;
	top: 5px;
}

.header-bottom .navbar-nav {
    margin-top: 9px;
}

.header-bottom .navbar-nav .nav-link {
    color: $base-color3;
    font-size: 12px;
    font-weight: 100;
    padding: 5px 0;
}

.header-bottom .navbar-nav .nav-link img {
    margin-right: 9px;
}

.header-bottom .dropdown-menu {
    right: 4px;
    left: auto;
}

.header-bottom .dropdown-menu .dropdown-item {
    color: $base-color3;
    font-size: 12px;
    font-weight: 100;
}

.header-bottom .dropdown-menu .dropdown-item img {
    margin-right: 9px;
}

.header-bottom .volume-link svg {
    margin-right: 10px;
}


@media (min-width: 576px) {
    .header-top {
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        -o-flex-direction: row;
        flex-direction: row;
    }

    .header__info-block {
        margin-left: 0;
    }
}

@media (min-width: 1200px) {
    .header_navbar-brand {
        margin-left: 14px;
    }
    .header_navbar-nav {
        margin-top: -6px;
        margin-left: 0px;
    }
}

@media (min-width: 1366px) {
    .header_navbar-nav {
        margin-left: 66px;
    }
    .header-bottom .navbar-nav {
        margin-right: -23px;
    }
    .header-bottom .dropdown-menu {
        right: 21px;    
    }


}

@media (max-width: 1365px) {
    .header-bottom .navbar-nav .volume-link {
        margin-right: 15px;
    }
}

@media (max-width: 1199px) {
    .header .header_user-link .nav-link {
        padding-left: 34px !important;
    }
    .navbar-nav .header_user-link img {
        width: 18px;
        height: 18px;
        left: 0;
        top: 11px;
    }
}