@import "_variables";
@import "_header";
@import "_footer";

html, body {
    overflow-x: hidden;
}
body {
    background: url('../images/battle-skins-bg.jpg');
    background-size: auto 100%;
    font-family: $font-family;
    padding-left: 33px;
    padding-right: 33px;
}

.bs-outer-wrapper {
    max-width: 1300px;
    /*min-height: 1080px;*/
    padding-left: 0;
    padding-right: 0;
    border-left: 1px solid $base-color4;
    border-right: 1px solid $base-color4;
/*    border-left: 1px solid #fff;
    border-right: 1px solid #fff;*/
}

@media (max-width: 991px) {
    body {
        padding-left: 0px;
        padding-right: 0px;
    }
}



/* LAYOUT UTILITIES */

.mr-9 {
    margin-right: 9px;
}

.mr-12 {
    margin-right: 12px;
}

.mr-15 {
    margin-right: 15px;
}



/* MAIN LAYOUT */

.main {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    position: relative;
}

.main-content {
    width: auto;
}

.main-content,
.sidebar {
    align-self: stretch;
}

.sidebar {
    background-color: rgba(40, 49, 66, 0.5);
    flex: 0;
    overflow: hidden;
    position: relative;    
    transition: flex .15s ease-in-out;
}

#sidebar-toggle {
    width: 33px;
    height: 52px;
    background-color: transparent;
    border:1px solid $base-color4;
    /*border: 1px solid #fff;*/
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    position: absolute;
    right: -33px;
    top: 0;
    overflow: hidden;
    outline: none;
    z-index: 1;
    &:hover {
        cursor: pointer;
    }
}

#sidebar-toggle:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    background: url(../images/sidebar-toggle-bg.png) no-repeat 11px 19px;
    transform: rotate(180deg);
    transition: transform .15s ease-in-out;
}

#sidebar-toggle.open:after {
    transform: rotate(0deg);
    transition: transform .15s ease-in-out;
}

.main-content>div:first-of-type {
    margin-bottom: 35px;
}

@media (min-width: 992px) {
    .sidebar.open {
        flex: 0 0 289px;
        transition: flex .15s ease-in-out;
    }
}

@media (max-width: 991px) {
    #sidebar-toggle {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        top: -13px;
        right: 10px;
        transform: rotate(270deg);
    }
    .main {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }
    .main-content {
        flex-basis: auto;
    }
    .sidebar {
        order: -1;
        height: 0;
        transition: height .15s ease-in-out;
        margin-top: 30px;
    }
    .sidebar.open {
        flex: 0 0 100%;
        height: 50vh;
        transition: height .15s ease-in-out;
    }
}



/* BLOCKS */


/* SOCIAL BLOCK */

.social__link {
    color: $base-color1;
    font-size: 12px;
    padding: 9px 5px 8px 4px;
    transition: color .15s ease-in-out;
    display: inline-block;
    &:hover {
        color: $base-color2;
    }
}



/* INFO BLOCK */

.info-block {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    font-size: 11px;
    padding-top: 11px;
    padding-bottom: 9px;
    color: $base-color1;
    letter-spacing: .75px;
}

.info-block span {
    color: $base-color2;
}

.info-block__user-count i {
    margin-top: 3px;
}

.info-block__user-count span {
    margin-left: 8px;
}

.info-block__online-status {
    margin-left: 25px;
}

.info-block__online-status img {
    margin-right: 8px;
}



/* NAVBAR TOGGLER */

.navbar-toggler {
    border-color: $base-color2;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}



/* MENU BLOCK */

.navbar-nav .nav-link {
    position: relative;
    color: $base-color1;
    font-weight: normal;
    font-size: 15px;
    padding-top: 10px;
    letter-spacing: 1.1px;
    margin-right: 27px;
    transition: color .15s ease-in-out;
    &:hover {
        color: $base-color2;
    }
}

.navbar-nav .nav-link img {
    margin-right: 16px;
}

.header_user-link img {
    width: 32px;
    height: 32px;
}



/*.dropdown-toggle::after*/

@media (max-width: 1366px) {
    .navbar-nav .nav-link {     
        margin-right: 10px;
    }

    .navbar-nav .nav-link,
    .dropdown-menu .dropdown-item {
        display: inline-block;   
        width: auto;
        
    }
}

@media (max-width: 991px) {
    .navbar-nav .nav-link {

        margin-right: 0;
    }
}



/* DROPDOWN */

.dropdown-toggle::after {
    border: none;
    display: none;
}

.dropdown-toggle svg {
    position: relative;
    top: 1px;
    left: 5px;
}

.dropdown svg path {
    fill: #71708e;
}

.dropdown-menu {
    background-color: rgba(40, 49, 66, .5);
    border: 1px solid rgba(55, 65, 83, 1);
}

.dropdown-item {
    color: #fff;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 1.1px;
    transition: color .15s ease-in-out;
    &:hover {
        color: $base-color2;
        background-color: transparent;
    }
}



/* DEPOSIT BLOCK */

.header .deposit-block {
    margin-right: -15px;
}

.deposit-block>span {
    background-color: rgba(50, 61, 80, .5);
    border: 1px solid #374153;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 34px;
    margin-top: 6px;
}

.deposit-block>span img {
    margin-left: 15px;
}

.deposit-block_value {
    display: inline-block;
    color: $base-color1;
    font-size: 14px;
    padding: 5px 15px 5px 7px;
    letter-spacing: 1px;
}

.deposit-block .button-block {
    padding: 11px 30px 12px;
}

@media (min-width: 1200px) {
    .deposit-block {
        margin-top: -3px;
    }
    .deposit-block .button-block {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

@media (max-width: 1199px) {
    .deposit-block {
        width: 100%;
        margin-top: 15px;
    }
}



/* TABS BLOCK */

.tabs-block>.nav {
    margin-bottom: 27px;
}

.tabs-block .nav-link {
    text-transform: none;
    margin-left: 5px;
    margin-right: 5px;
}

.tabs-block .nav-link.active {
    background: rgba(50, 61, 80, .15);
    border-color: $base-color2;
}

@media (max-width: 575px) {
    .tabs-block>.nav {
        flex-wrap: nowrap;
    }
    .tabs-block .nav-link {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
}



/* LOGO BLOCK */

.logo-block {
    background: url(../images/hill-bg.png) no-repeat;
    background-position: 7px 16px;
    width: 216px;
    height: 77px;
    text-align: center;
    position: relative;
}

.logo-block:after {
    position: absolute;
    content: '';
    background-color: #374153;
    width: 1px;
    height: 43px;
    top: 17px;
    right: 0;
}

.logo-block img {
    width: 95px;
    margin-top: 19px;
}

@media (max-width: 767px) {
    .logo-block {
        margin-left: auto;
        margin-right: auto;
    }
    .logo-block:after {
        display: none;
    }
}



/* STATS BLOCK */

.stats-block {}

.stats-block_users,
.stats-block_gbucks {
    color: $base-color3;
    font-size: 13px;
    letter-spacing: .25px;
    padding-left: 67px;
    padding-top: 19px;
}

.stats-block_users {
    background: url(../images/stats-block-users-icon.png) no-repeat 25px 26px;
}

.stats-block_gbucks {
    background: url(../images/stats-block-gbucks-icon.png) no-repeat 25px 26px;
}

.stats-block_users span,
.stats-block_gbucks span {
    display: block;
    color: $base-color1;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 1px;
}

@media (max-width: 767px) {
    .stats-block {
        justify-content: center;
    }
}

@media (max-width: 575px) {
    .stats-block {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
}



/* INPUT BLOCK */

.input-block {
    background-color: rgba(51, 60, 80, .25);
    border: 1px solid #475060;
    border-radius: 4px;
    color: $base-color1;
    font-size: 12px;
    letter-spacing: 1.5px;
    padding: 12px 19px;
    transition: background-color .15s ease-in-out;
    &:hover {
        background-color: rgba(51, 60, 80, .5);
        color: $base-color1;
    }
    &:focus {
        background-color: rgba(51, 60, 80, 1);
        color: $base-color1;
    }
}

.input-block-sm {
    padding: 10px 19px;
}

.input-block {
    margin-bottom: 15px;
}

.form-block .input-block {
    margin-bottom: 0px;
}

.input-block::-webkit-input-placeholder,
.input-block.type-number-block.spinner {
    /* Chrome/Opera/Safari */
    color: $base-color1;
    &:hover {
        color: $base-color1;
    }
    &:focus {
        color: $base-color1;
    }
}

.input-block::-moz-placeholder,
.input-block.type-number-block.spinner {
    /* Firefox 19+ */
    color: $base-color1;
    &:hover {
        color: $base-color1;
    }
    &:focus {
        color: $base-color1;
    }
}

.input-block:-ms-input-placeholder,
.input-block.type-number-block.spinner {
    /* IE 10+ */
    color: $base-color1;
    &:hover {
        color: $base-color1;
    }
    &:focus {
        color: $base-color1;
    }
}

.input-block:-moz-placeholder,
.input-block.type-number-block.spinner {
    /* Firefox 18- */
    color: $base-color1;
    &:hover {
        color: $base-color1;
    }
    &:focus {
        color: $base-color1;
    }
}

.input-block.is-valid {
    background-color: rgba(51, 60, 80, .25);
    background-image: url(../images/is-valid-icon.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 19px) 50%;
}

.input-block.type-number-block.spinner {
    background: transparent;   
    display: block;
    font-size: 13px;
    letter-spacing: 2px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 11px;
    /*padding: 4px 10px 5px 41px;   */
    padding: 4px 10px 5px 50px;  
    width: 100%;
    &:focus {
        box-shadow:none;
    }
}

.ui-spinner {
    background: transparent !important;
    border: 1px solid #475060 !important;
    border-radius: 4px !important;
    display: block !important;    
    height: 34px;
    width: 100%;  
}

.ui-spinner a.ui-spinner-button {
    background: url('../images/arrow.png') no-repeat;
    background-position: center;
    right: 14px;
    width: 10px;
    height: 10px;
}

.ui-spinner a.ui-spinner-button.ui-spinner-up {
    top: 5px;
    background-position: 50% 115%;
/*    background-color: orange;*/
}

.ui-spinner a.ui-spinner-button.ui-spinner-down {
    top: 15px;
    transform:rotate(180deg);
    background-position: 50% 65%;
/*    background-color: rebeccapurple;*/
}

.type-number-block_gbucks {
    background-image: url(../images/gbucks-3-icon.png) !important;
    background-repeat: no-repeat !important;
    background-position: 19px 4px !important;
}

.type-number-block_text {
    font-weight: 100;
    font-size: 12px;
    color: $base-color3;
    letter-spacing: .45px;
    margin-bottom: 23px;
}



/* SELECT-BLOCK */

.custom-select {
    background: rgba(51, 60, 80, .25) url(../images/select-arrow.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 19px) 16px;
    border: 1px solid #475060;
    border-radius: 4px;
    color: $base-color1;
    font-size: 12px;
    letter-spacing: 1.5px;
    min-height: 40px;
    padding: 10px 19px;
    transition: background-color .15s ease-in-out;
    &:hover {
        background-color: rgba(51, 60, 80, .5);
        color: $base-color1;
    }
    &:focus {
        background-color: rgba(51, 60, 80, 1);
        color: $base-color1;
    }
}



/* TEXTAREA BLOCK */

.textarea-wrapper {
    position: relative;
}



/*.textarea-wrapper::after {
    pointer-events: none;
    content: "";
    font-size: 14px;
    position: absolute;
    height: 22px;
    width: 22px;
    text-align: center;
    bottom: 0px;
    right: 0px;
    z-index: 2;
    background:url('../images/resize-handle.png') no-repeat;
}*/

.textarea-block {
    background-color: rgba(51, 60, 80, .25);
    border: 1px solid #475060;
    color: $base-color1;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 20px;
    min-height: 116px;
    padding: 11px 19px;
    transition: background-color .15s ease-in-out;
    &:hover {
        background-color: rgba(51, 60, 80, .5);
        color: $base-color1;
    }
    &:focus {
        background-color: rgba(51, 60, 80, 1);
        color: $base-color1;
    }
}

.textarea-block::-webkit-input-placeholder {
    color: $base-color1;
}

.textarea-block:-moz-placeholder {
    /* Firefox 18- */
    color: $base-color1;
}

.textarea-block::-moz-placeholder {
    /* Firefox 19+ */
    color: $base-color1;
}

.textarea-block:-ms-input-placeholder {
    color: $base-color1;
}



/* FORM BLOCK */

.form-block label {
    color: $base-color3;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 21px;
}

.form-block_copy {
    position: relative;
    margin-bottom: 14px;
}

.form-block_copy:last-of-type {
    margin-bottom: 4px;
}

.form-block_copy input {
    padding-right: 50px;
}



/* BUTTON BLOCK */

.button-block {
    font-size: 12px;
    font-weight: 500;
    color: $base-color1;
    padding: 8px 22px 7px;
    text-transform: uppercase;
    letter-spacing: .7px;
}

.button-block-sm {
    font-size: 11px;
    padding: 8px 29px;
}

.button-block-lg {
    font-size: 13px;
    padding: 10px 35px;
    letter-spacing: 1px;
}

.button-block-xl {
    font-size: 14px;
    padding: 11px 31px;
    letter-spacing: 1.05px;
}

.button-light {
    background-color: $base-color2;
    &:hover {
        background-color: #7c50f9;
    }
}

.button-dark {
    background-color: #323d50;
    &:hover {
        background-color: #2b3546;
    }
}

.button-transparent {
    background-color: rgba(50, 61, 80, .15);
    border: 1px solid #374153;
    transition: background-color .15s ease-in-out;
    &:hover {
        background-color: rgba(50, 61, 80, .5);
        color: $base-color1;
    }
}

.button-copy {
    background: url(../images/copy-icon.png) no-repeat center;
    border: none;
    padding: 5px;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 15px;
    bottom: 8px;
    &:hover {
        cursor: pointer;
    }
    &:focus {
        background: url(../images/copy-icon.png) no-repeat center;
    }
}

.button-twitter {
    padding: 10px 18px 10px 19px;
    background-color: #1da1f2;
    &:hover {
        background-color: #0e9af0;
    }
}

.button-twitter i {
    margin-right: 10px;
}

.button-steam {
    padding: 10px 24px 10px 27px;
    background-color: #16356a;
    &:hover {
        background-color: #132e5c;
    }
}

.button-steam i {
    margin-right: 10px;
}

.button-block_ps {
    border: 1px solid $base-color4;
    background-color: rgba(51, 60, 80, 0.5);
    margin-bottom: 30px;
    padding: 8px 22px;
    &:hover,
    &:focus {
        background-color: rgba(51, 60, 80, 1);
        border: 1px solid $base-color2;
    }
}

.button-block_bet {
    background-color: transparent;
    color: #aaa9c8;
    font-weight: 300;
    width: 100%;
    margin-bottom: 5px;
    padding-left: 41px;
    position: relative;
    text-transform: none;
    text-align: left;
    &:hover {
        color: $base-color1;
    }
}

.button-block_bet:first-of-type {
    margin-top: 16px;
}

.button-block_circle {
    position: absolute;
    display: block;
    width: 27px;
    height: 27px;
    left: 0px;
    top: 6px;
    border: 1px solid #8E73F1;
    border-radius: 50%;
    padding: 4px;
    transition: padding .15s ease-in-out;
}

.button-block_bet:hover .button-block_circle {
    padding: 0;
    transition: padding .15s ease-in-out;
}

.button-block_circle span {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
    background-color: #8E73F1;
}

.button-block_bet-rate {
    position: absolute;
    right: 0;
    top: 10px;
}

.button-block_bet-green .button-block_circle {
    border: 1px solid #39c532;
}

.button-block_bet-green .button-block_circle span {
    background-color: #39c532;
}

.button-block_bet-blue .button-block_circle {
    border: 1px solid #07b9e2;
}

.button-block_bet-blue .button-block_circle span {
    background-color: #07b9e2;
}

.button-block_bet-violet .button-block_circle {
    border: 1px solid #8860fa;
}

.button-block_bet-violet .button-block_circle span {
    background-color: #8860fa;
}

.button-block_bet-yellow .button-block_circle {
    border: 1px solid #fae260;
}

.button-block_bet-yellow .button-block_circle span {
    background-color: #fae260;
}

.button-block-rate {
    background-color: transparent;
    border-color: transparent;
    font-weight: 100;
    font-size: 12px;
    margin-bottom: 9px;
    padding: 0;
    text-transform: none;
    color: $base-color3;
    &:hover,
    &:focus {
        background-color: $base-color2;
        color: $base-color1;
    }
}




/* LINK BLOCK */

.link-light {
    color: $base-color2;
    font-weight: 500;
}



/* DIVIDER BLOCK */

.divider {
    height: 1px;
    background: #475060;
}

.divider-with-text {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    position: relative;
    margin-top: 25px;
    margin-bottom: 24px;
}

.divider-with-text:before {
    position: absolute;
    content: '';
    left: 0;
    top: 9px;
    width: calc(50% - 28px);
    height: 1px;
    background: #475060;
}

.divider-with-text:after {
    position: absolute;
    content: '';
    right: 0;
    top: 9px;
    width: calc(50% - 27px);
    height: 1px;
    background: #475060;
}

.divider-with-text span {
    padding-left: 20px;
    padding-right: 20px;
}



/* CHECKBOX BLOCK */

.checkbox-block .custom-control-label {
    font-size: 12px;
    font-weight: 300;
    color: $base-color3;
    padding-left: 10px;
    letter-spacing: 1px;
    line-height: 21px;
}

.checkbox-block .custom-control-label:before,
.checkbox-block:checked~.custom-control-label::before {
    background-color: $base-color2 !important;
    width: 18px;
    height: 18px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.custom-control-label::after {
    top: 5px;
    left: -23px;
}



/* USER BLOCK */

.user-block {
    color: $base-color3;
}

.user-block_details {
    padding-left: 22px;
}

.user-block_details .money-block {
    margin-left: 13px;
}

.user-block_name {
    font-size: 16px;
    color: $base-color1;
    letter-spacing: 1.25px;
}

.user-block_register,
.user-block_followers {
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.user-block_balance {
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 1px;
}

.money-block_image {
    max-width: 20px;
    margin-right: 6px;
}

.money-block_value {
    color: $base-color1;
    letter-spacing: 2px;
}

.user-block button {
    margin-top: 21px;
    padding: 10px 37px;
}



/* TABLE BLOCK */

.table-block th {
    color: $base-color3;
    font-size: 11px;
    font-weight: 100;
}

.table-block td {
    color: $base-color1;
    font-size: 12px;
    letter-spacing: 1.5px;
}

.table-block .td-light {
    color: $base-color2;
}



/* TABS BLOCK BETS */

.tabs-block_bets {
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    min-height: 393px;
}

.tabs-block_bets>.nav {
    margin-bottom: 19px;
}

.tabs-block_bets .nav-item a,
.tabs-block_bets .nav-item a.active {
    background-color: transparent;
    border-color: transparent;
    letter-spacing: 1.5px;
    padding: 0 2px;
}

.tabs-block_bets .nav-item:last-of-type a {
    margin-right: 0;
    padding-right: 0;
}

.tabs-block_bets .nav-item a.active {
    color: $base-color2;
}

.tabs-block_bets .type-number-block_gbucks {
    margin-bottom: 16px;
}





/* ROULETTE BLOCK */

.roulette-wheel-block {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.roulette-wheel-block #wheelcanvas {
    /*    background: url(../images/roller-min.png) no-repeat;
    background-position: center;*/
    transform: rotate(-35deg);
    position: relative;
}


.roulette-wheel-block:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: -39px;
    background: url(../images/roller-min.png) no-repeat;
    background-position: center;
    transform: rotate(0deg);
}


.roulette-wheel-block_next {
    font-weight: 300;
    font-size: 13px;
    color: #aaa9c8;
    text-align: center;
    letter-spacing: 1.5px;
    padding-top: 21px;
}

.roulette-wheel-block_next span {
    display: block;
    font-weight: 400;
    font-size: 25px;
    margin-top: 1px;
}

.roulette-wheel-block_next span img {
    margin-top: -4px;
    margin-right: 14px;
}

@media (min-width: 1200px) {
    .roulette-wheel-block {
        margin-top: -13px;
        margin-left: 35px;
    }
}



/* BETS HISTORY BLOCK */


.bets-history-block .progress {
    background-color: transparent;
}

.bets-history_item {
    border-radius: 2px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;
}

.bets-history_item-info {
    display: none;
    position: absolute;
    top: -15px;
    right: 65px;
    width: 200px;
    height: auto;
    background-color: rgba(40, 49, 66, 0.85);
    border: 1px solid #374153;
    border-radius: 4px;
    color: $base-color1;
    font-size: 15px;
    opacity: 0;
    padding: 10px;
    z-index: 10;
}



/*.bets-history_item-info:after {
    position: absolute;
    right: 0;
    top: 0;
    width: 10px;
    height: 10px;
    border-top: 50px solid transparent;
    border-left: 100px solid red;
    border-bottom: 50px solid transparent;
}*/


/*.bets-history_item:hover .bets-history_item-info {
    opacity: 1;
}*/

.bets-history-block .button-block {
    margin-top: 16px;
}

.bets-history_item-grey {
    background-color: #71708e;
}

.bets-history_item-green {
    background-color: #39c532;
}

.bets-history_item-violet {
    background-color: #8860fa;
}

.bets-history_item-blue {
    background-color: #07b9e2;
}

.bets-history_item-yellow {
    background-color: #fae260;
}



/* BETS */

.bets-wrapper {
    padding-left: 17px;
    padding-right: 3px;
    margin-bottom: 14px;
}

.bet-column {
    padding-left: 15px;
    padding-right: 15px;
}

.bet-block {
    margin-bottom: 9px;
}

.bet-block_item {
    justify-content: space-between;
}

.bet-column_grey svg path {
    fill: #71708e;
}

.bet-column_green svg path {
    fill: #39c532;
}

.bet-column_blue svg path {
    fill: #07b9e2;
}

.bet-column_violet svg path {
    fill: $base-color2;
}

.bet-column_yellow svg path {
    fill: #fae260;
}

.bet-block_item_user-avatar {
    width: 22px;
    height: 22px;
    margin-right: 7px;
    position: relative;
    top: -2px;
}

.bet-block_item_user-name {
    color: #d4d3f3;
    font-size: 12px;
    font-weight: 100;
    padding-top: 2px;
    padding-right: 10px;
    letter-spacing: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bet-block_item-value {
    padding-left: 22px;
    padding-right: 11px;
    padding-top: 3px;
    position: relative;
    color: $base-color3;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
}

.bet-block_item-icon {
    position: absolute;
    left: 0;
    top: 6px;
}

.bet-block_total {
    padding-bottom: 10px;
    margin-bottom: 15px;
    position: relative;
}

.bet-block_total:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: -11px;
    width: calc(100% + 10px);
    height: 1px;
    background-color: $base-color4;
    /*background-color: #fff;*/
}

.bet-block_total .bet-block_total-value {
    color: $base-color3;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
}

.bet-column {
    width: 100%;
}

.bets-wrapper>div {
    flex-wrap: wrap;
}

@media (min-width: 768px) and (max-width: 991px) {
    .bet-column {
        width: 50%;
    }
    /*    .bet-column:last-of-type {
        width: 100%;
    }   */
}

@media (min-width: 992px) and (max-width: 1365px) {
    .bet-column {
        width: 33.33333333%;
    }
    /*    .bet-column:nth-last-of-type(-n+2) {
        width: 50%;
    }*/
}

@media (min-width: 1366px) {
    .bet-column {
        width: 20%;
    }
}

@media (max-width: 1365px) {
    .bet-column {
        margin-bottom: 20px;
    }
    .bets-wrapper {
        padding-left: 0;
        padding-right: 0;
    }
}



/* FAQ BLOCK */

.faq-block .accordion {
    margin-bottom: 30px;
}

.tabs-block_faq>.nav {
    margin-bottom: 30px;
}

.faq-block .card-body {
    color: $base-color3;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: .95px;
    line-height: 20px;
    padding: 16px 0 2px;
}

.faq-block .card {
    background-color: transparent;
    margin-bottom: 15px;
}

.faq-block .card-header {
    background-color: rgba(50, 61, 80, 1);
    border: 1px solid rgb(55, 65, 83);
    border-radius: 4px !important;
    padding: 0;
    transition: background-color .15s ease-in-out;
}

.faq-block .card-header.card-header-open {
    background-color: rgba(50, 61, 80, .5);
    transition: background-color .15s ease-in-out;
}

.faq-block .card-header button {
    border: 1px solid #374153;
    font-size: 12px;
    font-weight: 300;
    color: $base-color1;
    letter-spacing: 1px;
    position: relative;
    transition: color .15s ease-in-out;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
    &:focus {
        text-decoration: none;
    }
}

.faq-block .card-header button:after {
    position: absolute;
    content: '';
    width: 10px;
    height: 6px;
    right: 16px;
    top: 12px;
    background: url(../images/select-arrow.png) no-repeat;
    transform: rotate(180deg);
    transition: transform .15s ease-in-out;
}

.faq-block .card-header button.collapsed:after {
    transform: rotate(0deg);
    transition: transform .15s ease-in-out;
}

.modal_faq .button-block:not(.nav-link) {
    width: 148px;
    margin-bottom: -5px;
}

.modal_faq .button-block:first-of-type:not(.nav-link) {
    margin-left: 2px;
}



/* BADGE BLOCK */

.badge-block {
    background-color: $base-color2;
    font-size: 9px;
    padding: 4px 6px 4px 7px;
    text-transform: uppercase;
}



/* CHAT BLOCK */

.chat-block {
    background-color: rgba(40, 49, 66, .5);
    border-left: 1px solid $base-color4;
    border-top: 1px solid $base-color4;   
/*    border-left: 1px solid #fff;
    border-top: 1px solid #fff;*/
    border-top-left-radius: 4px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 16px;
    position: relative;
/*    width: 290px;*/
    height: 100%;
}

.chat-block form {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    height: 100%;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    
}

.chat-block_messages {
    max-height: 672px;
    margin-bottom: 15px;
    overflow: auto;
    /*background: rebeccapurple;*/
    flex-basis: calc(100% - 100px);
}

.chat-block .user-block {
    padding-top: 4px;
    padding-bottom: 4px;
}

.chat-block .user-block:nth-of-type(2n) {
    margin-bottom: 1px;
}

.chat-block .user-block_details {
    padding-left: 13px;
    padding-top: 7px;
}

.chat-block .user-block_avatar {
    min-width: 32px;
    width: 32px;
    height: 32px;
}

.chat-block .user-block_name {
    font-size: 13px;
    letter-spacing: 1.5px;
    margin-bottom: 5px;
}

.chat-block .user-block_message {
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 1px;
    white-space: normal;
    line-height: 1.525;
}

.chat-block_type-message {
/*    margin-top: 26px;
    position: absolute;
    bottom: 18px;*/
    /*background: orange;*/
    /*flex-basis: 100px;*/
    padding-bottom: 19px;
}

.chat-block_type-message .textarea-block {
    font-size: 13px;
    font-weight: 100;
    margin-left: -12px;
    margin-right: 12px;
    min-height: 35px;
    max-height: 99px;
    padding: 7px 12px;
    letter-spacing: 1px;
}

.chat-block_type-message .textarea-block:not(:focus) {
    border-color: transparent;
}

.chat-block_type-message button {
    width: 75px;
    height: 35px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: -23px;
    /*margin-top: -19px;*/
}

.chat-block .badge-block {
    position: relative;
    top: -1px;
    margin-right: 10px;
}



/* Chat block styles for mobile */

@media (max-width: 1365px) {
    .chat-block_messages {
        max-height: 1022px;
    }
}

@media (max-width: 1199px) {
    .chat-block_messages {
        max-height: 1488px;
    }
}


@media (max-width: 991px) {
/*    .sidebar .chat-block {
        width: 100%;
        border: 1px solid #fff;
        border-radius: 0;
        padding-top: 30px;
    }
    .chat-block_messages {
        position: absolute;
        height: calc(100% - 91px);
    }
    .chat-block_type-message {
        width: calc(100% - 75px);
    }
    .chat-block_type-message button {
        border-radius: 4px;
    }*/
}



/* COMMENT BLOCK */

.comments-block {
    padding-left: 60px;
}

.comments-block .carousel {
    padding-right: 25px;
}

.comments-block .carousel:after {
    position: absolute;
    content: '';
    width: 1px;
    height: 43px;
    background-color: #374153;
    right: 0;
    top: 17px;
}

.comment-block_user-avatar {
    width: 25px;
    height: 25px;
    align-self: center;
    margin-right: 10px;
}

.comment-block_user-details {
    width: 200px;
}

.comment-block_user-name {
    color: $base-color1;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 19px;
    margin-bottom: 2px;
    margin-left: 3px;
}

.comment-block_user-comment {
    color: $base-color3;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 1px;
    margin-left: 3px;
}

.comments-block .carousel-control-prev,
.comments-block .carousel-control-next {
    width: auto;
}

.comments-block .carousel-control-prev {
    left: -47px;
    top: -7px;
}

.comments-block .carousel-control-next {
    right: auto;
    left: -33px;
    top: -7px;
}

.comments-block .carousel-control-prev-icon,
.comments-block .carousel-control-next-icon {
    background-image: none;
}

.comment-block_user-rating {
    background: url('../images/comments-rating.png');
    width: 59px;
    height: 15px;
    margin-left: 16px;
    position: relative;
    top: 31px;
    left: -1px;
}

.comments-block_feedback {
    padding: 21px 20px 21px 25px;
}

.comments-block_feedback .button-block {
    padding: 8px 21px 7px 22px;
}

@media (max-width: 767px) {
    .comments-block_feedback {
        padding-right: 0;
    }
}

@media (max-width: 575px) {
    .comments-block {
        padding-top: 30px;
        padding-left: 0;
        width: 100%;
        text-align: center;
    }
    .comments-block .carousel:after {
        display: none;
    }
    .comments-block .carousel {
        padding-right: 0;
    }
    .comment-block_user-avatar {
        margin-right: 0;
    }
    .comment-block_user-details {
        width: auto;
    }
    .comment-block_user-name,
    .comment-block_user-comment {
        margin-left: 0;
    }
    .comments-block_feedback {
        padding: 20px 20px 30px;
    }
    .comments-block .carousel-control-prev {
        left: 15px;
        top: 12px;
    }
    .comments-block .carousel-control-next {
        left: auto;
        right: 15px;
        top: 12px;
    }
    .comment-block_user-rating {
        position: static;
        margin: 15px auto;
    }
}



/* SECOND MENU */

.footer-bottom .navbar {
    padding: 0;
}

.footer-bottom .navbar-nav {
    margin-left: 11px;
}

.footer-bottom .nav-link {
    color: $base-color3;
    font-size: 11px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-right: 7px;
}



/* COPYRIGHT BLOCK */

.copyright-block {
    color: $base-color3;
    font-size: 11px;
    font-weight: 300;
    padding: 16px 20px 13px;
    letter-spacing: .85px;
}



/* PAYMENT BLOCK */

.payment-sys-block {
    padding: 10px 21px 0;
    position: relative;
}

.payment-sys-block img:first-of-type {
    margin-right: 16px;
}

.payment-sys-block:after {
    position: absolute;
    content: '';
    background: #374153;
    width: 1px;
    height: 17px;
    right: 0;
    top: 14px;
}

@media (max-width: 767px) {
    .footer-bottom .navbar-nav {
        margin-left: auto;
        margin-right: auto;
    }
    .footer-bottom .nav-link {
        letter-spacing: .85px;
        margin-right: 0;
    }
    .payment-sys-block,
    .copyright-block {
        text-align: center;
    }
    .payment-sys-block:after {
        display: none;
    }
}



/* BALANCE BLOCK */

.balance-block {
    font-weight: 300;
    font-size: 12px;
    color: $base-color1;
    letter-spacing: 1px;
    margin-bottom: 19px;
}

.balance-block_money-type {
    font-size: 12px;
    letter-spacing: 2px;
}

.balance-block_money-type img {
    position: relative;
    top: -3px;
}

.balance-block_value {
    margin-left: 10px;
}



/* DEPOSIT BLOCK */

.deposits-block {
    margin-bottom: 26px;
}

.deposits-block .modal-block_label {
    margin-bottom: 19px;
}

.deposits-block+.modal-block_label {
    margin-bottom: 21px;
}

.deposits-block_item {
    background-color: transparent;
    border: 1px solid $base-color4;
    border-radius: 4px !important;
    min-height: 106px;
    padding: 0 !important;
    text-align: center;
    &:focus {
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
    }
}

.deposits-block_item-icon {
    min-height: 67px;
    background-repeat: no-repeat;
    background-position: center;
}

.deposits-block_item-icon-pack-5 {
    background-image: url(../images/pack-5.png);
    background-position: 60% 36%;
}

.deposits-block_item-icon-pack-10 {
    background-image: url(../images/pack-10.png);
    background-position: 55% 25%;
}

.deposits-block_item-icon-pack-25 {
    background-image: url(../images/pack-25.png);
    background-position: 65% 25%;
}

.deposits-block_item-icon-pack-50 {
    background-image: url(../images/pack-50.png);
    background-position: 63% 4%;
}

.deposits-block_item span {
    display: block;
    font-size: 11px;
    color: $base-color1;
    letter-spacing: 1.5px;
}

.deposits-block~div .button-block_ps {
    padding: 10px 22px;
}



/* PROGRESS BLOCK */

.progress-block_label {
    color: $base-color1;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 7px;
}

.progress-block_label span {
    color: $base-color3;
    font-weight: 100;
    font-size: 13px;
    margin-left: 13px;
}

.progress-block_bar {
    height: 5px;
    background-color: $base-color2;
}

.progress-block .progress {
    background-color: #283144;
    border: 1px solid $base-color4;
    height: 5px;
}



/* BALANCE BLOCK */

.aff-balance-block {
    padding: 29px 8px 15px 8px;
    letter-spacing: 1px;
    text-align: center;
}

.aff-balance-block_text {
    font-weight: 100;
    font-size: 13px;
    color: $base-color3;
    margin-bottom: 13px;
}

.aff-balance-block_value {
    color: $base-color1;
    font-size: 14px;
    text-align: center;
    margin-bottom: 13px;
}

.aff-balance-block_value img {
    margin-right: 12px;
}

.aff-balance-block .button-block {
    padding: 10px 19px;
}



/* AFFILIATE STAT BLOCK */

.aff-stats-block {
    padding: 29px 8px 15px 8px;
    letter-spacing: 1px;
    text-align: center;
}

.aff-stats-block_text {
    font-weight: 100;
    font-size: 13px;
    color: $base-color3;
}

.aff-stats-block_users-value,
.aff-stats-block_total-value {
    color: $base-color1;
    font-size: 16px;
    margin-top: 20px;
}

.aff-stats-block_users-value img {
    margin-right: 5px;
    margin-top: -7px;
}

.aff-stats-block_total-value img {
    margin-right: 10px;
    margin-top: -4px;
}

@media (min-width: 576px) {
    .aff-stats-block_users {
        position: relative;
        left: -13px;
        top: 8px;
    }
    .aff-stats-block_total {
        position: relative;
        top: 8px;
        left: 19px;
    }
}



/* MODAL BLOCK */

.modal-block {
    background-color: rgba(18, 22, 44, .75);
}

.modal-header {
    border-bottom: none;
}

.modal-title {
    font-size: 15px;
    font-weight: 300;
    color: $base-color1;
    letter-spacing: .65px;
}

.modal-content {
    border-color: #374153;
    background-color: rgba(40, 49, 66, .5);
}

.modal_transparent {
    background-color: transparent;
    border-color: transparent;
}

.modal-footer {
    border-top: none;
}

.modal-block_text {
    color: $base-color3;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: .95px;
    line-height: 22px;
}

.modal-block_label {
    color: $base-color1;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}



/* MODAl REGISTER */

.modal-block .modal_register {
    max-width: 389px;
}

.modal_register .modal-title {
    margin-bottom: -9px;
}

.modal_register .button-twitter {
    margin-left: 1px;
    margin-right: 15px;
}

.modal_register .divider {
    margin-top: 16px;
    margin-bottom: 20px;
}

.modal_register .checkbox-block {
    margin-bottom: 19px;
}

.modal_register .checkbox-block .custom-control-label:before,
.modal_register .checkbox-block .custom-control-label:after {
    margin-top: 7px;
}

.checkbox-block .custom-control-label {
    letter-spacing: 1px;
    line-height: 21px;
}



/* MODAl LOGIN */

.modal-block .modal_login {
    max-width: 389px;
}

.modal_login .modal-title {
    margin-bottom: -9px;
}

.modal_login .divider {
    margin-top: 30px;
    margin-bottom: 20px;
}

.modal_login .modal-block_text {
    margin-bottom: 19px;
}



/* MODAl SUPPORT */

.modal_support {
    max-width: 500px;
}

.modal_support .modal-body {
    padding-left: 25px;
    padding-right: 25px;
}

.modal_support .modal-title {
    margin-top: -3px;
    margin-bottom: -16px;
}

.modal_support textarea {
    margin-bottom: 30px;
}

.modal_support .button-light,
.modal_support .button-dark {
    width: 134px;
    margin-bottom: 4px;
}

.modal_support .button-light {
    margin-left: 2px;
}



/* MODAl ACCOUNT */

.modal_account {
    max-width: 626px;
}

.modal_account .modal-body {
    padding: 25px;
}

.modal_account .modal-title {
    margin-top: -2px;
    margin-bottom: -17px;
}

.modal_account .divider {
    margin-top: 25px;
    margin-bottom: 20px;
}

.modal_account .modal-block_table {
    margin-top: 4px;
    height: 260px;
}

.modal_account .modal-block_table th {
    padding-top: 0;
    padding-bottom: 0;
}

.modal_account .modal-block_table td {
    padding-top: 8px;
    padding-bottom: 9px;
}

.modal_account .modal-block_table th:first-of-type,
.modal_account .modal-block_table td:first-of-type {
    padding-left: 0;
}

.modal_account .modal-block_table th:last-of-type,
.modal_account .modal-block_table td:last-of-type {
    padding-right: 0;
}

.modal_account .form-block .button-block:not(.button-copy) {
    letter-spacing: 1px;
    min-width: 154px;
    margin-left: 25px;
}



/* MODAL WITHDRAW */

.modal_withdraw {
    max-width: 500px;
}

.modal_withdraw .modal-title {
    margin-top: -2px;
    margin-bottom: -21px;
}

.modal_withdraw .modal-body {
    padding: 25px;
}

.modal_withdraw .ui-spinner {
    margin-bottom: 11px;
}

.modal_withdraw .form-block_copy {
    margin-bottom: 11px;
}

.modal_withdraw .checkbox-block {
    margin-bottom: 27px;
}

.modal_withdraw .checkbox-block .custom-control-label {
    padding-left: 1px;
    letter-spacing: .4px;
}

.modal_withdraw .checkbox-block .custom-control-label:before,
.checkbox-block:checked~.custom-control-label::before {
    width: 14px;
    height: 14px;
}

.modal_withdraw .custom-control-label::after {
    top: 3px;
    left: -25px;
}

.modal_withdraw .button-block-lg {
    max-width: 147px;
    margin-bottom: -5px;
}

@media (max-width: 767px) {
    .modal_withdraw .button-block_ps {
        padding: 8px 0px;
    }
}



/* MODAL DEPOSIT */

.modal_deposit {
    max-width: 500px;
}

.modal_deposit .modal-title {
    margin-top: -2px;
    margin-bottom: -14px;
}

.modal_deposit .modal-body {
    padding: 25px;
}

.modal_deposit .modal-content {
    /*    background-color: rgba(51, 60, 80, .25);*/
    background-image: url(../images/deposit-funds-bg.png);
    background-repeat: no-repeat;
    background-position: 92.25% 100%;
}

.modal_deposit .button-light,
.modal_deposit .button-dark {
    width: 123px;
    margin-bottom: -5px;
}

@media (max-width: 767px) {
    .modal_deposit .button-block_ps {
        padding: 8px 0px !important;
    }
}



/* MODAL AFFILIATES */

.modal_affiliates {
    max-width: 626px;
}

.modal_affiliates .modal-header {
    margin-top: -2px;
    margin-bottom: -24px;
}

.modal_affiliates .modal-body {
    padding: 25px;
}

.modal_affiliates .form-block label {
    letter-spacing: 1.45px;
    margin-bottom: 16px;
}

.modal_affiliates .form-block .button-block {
    letter-spacing: 1px;
    min-width: 154px;
    margin-left: 25px;
}

.modal_affiliates .divider {
    margin-top: 10px;
    margin-bottom: 18px;
}

.modal_affiliates .progress-block {
    margin-top: 14px;
}

.modal_affiliates .modal-block_table {
    /*    margin-top: 4px;*/
    height: 260px;
}

.modal_affiliates .custom-scroll-wrapper {
    max-height: 260px;
    overflow: auto;
}

@media (min-width: 768px) {
    .modal_affiliates .aff-balance-block {
        position: relative;
    }
    .modal_affiliates .aff-balance-block:after {
        position: absolute;
        content: '';
        width: 1px;
        height: 100px;
        background-color: #475060;
        right: 0;
        top: 44px;
    }
    .modal_affiliates .aff-balance-block_value img {
        margin-left: -26px;
        margin-right: 12px;
    }
    .modal_affiliates .aff-balance-block .button-block {
        position: relative;
        left: -12px;
    }
    .modal_affiliates .aff-stats-block {
        padding: 29px 8px 15px 28px;
    }
}



/* ACCOUNT DETAILS */

.tabs-block_account-details .custom-scroll-wrapper {
    max-height: 260px;
    overflow: auto;
    margin-bottom: -4px;
}

.tabs-block_account-details .form-block label {
    font-size: 11px;
    letter-spacing: .7px;
    margin-bottom: 10px;
}

.tabs-block_account-details .user-block {
    margin-top: 35px;
    margin-bottom: 24px;
}

.tabs-block_account-details .user-block button {
    margin-top: 25px;
}

.tabs-block_account-details .tabs-block_account-details-promotion {
    margin-bottom: 5px;
}

.tabs-block_account-details-promotion_name {
    font-size: 16px;
    color: #fff;
    letter-spacing: 1.25px;
}

.tabs-block_account-details .tabs-block_account-details-promotion label {
    font-size: 13px;
    letter-spacing: 1px;
    margin-bottom: 23px;
}



/* MODAl FAQ */

.modal_faq {
    max-width: 570px;
}

.modal_faq .modal-body {
    padding: 25px;
}

.modal_faq .modal-title {
    margin-top: -2px;
    margin-bottom: -17px;
}



/* CUSTOM SCROLLBAR */

.mCSB_scrollTools .mCSB_draggerRail {
    background-color: transparent !important;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #475060 !important;
    width: 3px !important;
}



/* Bets tabs, roulette, bets history layout */

@media (min-width: 1200px) {
    .tabs-block_bets {
        width: 237px;
        margin-top: -18px;        
    }
    .bets-history-block {
        padding-top: 21px;
        padding-left: 15px;
        padding-right: 15px;
    }    
}


@media (min-width: 1365px) {
    .tabs-block_bets {
        margin-left: 49px;
    }
    .bets-history-block {
        padding-top: 21px;
        padding-left: 50px;
        padding-right: 50px;
    }
}


@media (max-width: 1365px) {

}

@media (max-width: 1199px) {
    .tabs-block_bets,
    .bets-history-block {
        order: -1;
        width: calc(50% - 15px);
    }
    .roulette-wheel-block {
        margin: 45px auto 30px;
    }
    .bets-history-block {
        margin-top: 49px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 991px) {
    .tabs-block_bets {
        margin-top: 30px;
    }
    .bets-history-block {
        margin-top: 105px;
    }
}

@media (max-width: 575px) {
    .tabs-block_bets,
    .bets-history-block {
        flex-basis: 100%;
    }
    .bets-history-block {
        margin-top: 15px;
    }
}